body {
	background-color: #fbfcff;
}

h1 {
	color: #A5B1C0;
	text-align: center;
	font-family: Candara, Helvetica, Sans-serif;
}

h2 {
	color: #8192A8;
	text-align: center;
	font-family: Candara, Helvetica, Sans-serif;
}

.container h2 {
	color: #2A765F;
	text-align: center;
	font-family: Candara, Helvetica, Sans-serif;
}

p {
	color: #4A6587;
	font-family: Candara, Helvetica, Sans-serif;
	font-size: 18px;
}

.veryroundimagecenter {
	float: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

.roundimagecenter {
	padding: 10px;
	border-radius: 25px;
}

.imagecenter {
	float: center;
	padding: 10px;
}

.bulletless {
	list-style-type: circle;
	color: #4A6587;
	font-family: Candara, Helvetica, Sans-serif;
	font-size: 16px;
}

.box {
	margin: 12px;
	border: 1px solid #5A518F;
	padding: 3px;
	background-color: #40367B;
}

a, a:active {
	color: #2A765F;
}
a:visited {
	color: #609988
}
a:hover{
	color: #7EA99C
}