body {
	background-color: black;
}

h1 {
	color: #E7C793;
	text-align: center;
	font-family: courier, times, seraf;
}

h2 {
	color: #CEA768;
	text-align: center;
	font-family: courier, times, seraf;
}

.box h2 {
	color: #994D24;
	text-align: center;
	font-family: courier, times, seraf;
}

p {
	color: #18654E;
	font-family: courier, times, seraf;
	font-size: 18px;
}

.leftfloat {
	float: left;
}

.sidebarright {
	width: 20%;
	height: 100%;
	float: right;
	top: 0;
}


.box {
	margin: 12px;
	border: 2px solid #FFE7C0;
	padding: 3px;
	background-color: #f9fffc;
}

ul {
	list-style-type: circle;
	color: #994D24;
	font-family: courier, times, seraf;
	font-size: 16px;
}

a {
	color: #335076;
}