body {
	background-color: #bae1d0
}

h1 {
	color: #bb8570;
	text-align: center;
	font-family: courier, times, seraf;
}

h2 {
	color: #573324;
	text-align: center;
	font-family: courier, times, seraf;
}

p {
	color: #4d806a;
	font-family: courier, times, seraf;
	font-size: 20px;
}

.leftfloat {
  float: left;
}

.sidebar {
	width: 20%;
	float: right;
}

.box {
	margin: 12px;
	border: 2px solid #f5c7b3;
	padding: 3px;
	background-color: #f9fffc;
}
